.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 1rem;
}

.menu li {
    cursor: pointer;
    transition: color 0.2s;
}

.menu li:hover {
    color: #ffcc70;
}